@import "tailwindcss";

html,
body {
  background: #f3f4f8;
}

@layer components {
  .container {
    @apply px-4 sm:px-7 md:max-w-full md:px-[15px] lg:px-[15px] xl:px-[30px] 2xl:max-w-[1372px] 2xl:px-0 sm:max-w-xl mx-auto;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bar-hidden::-webkit-scrollbar {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

@theme {
  --color-primary: #ee4d2d;
  --color-secondary: #ff7337;
  --color-success: #198754;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #0dcaf0;
  --color-white: #fff;
  --color-black: #212121;
}



